.yellowButtons {
    position: relative;
    display: inline-block;
    padding: 1rem .75rem;
    border: 1px solid black;
    border-radius: .5rem;
    color: black !important;
    background-color: #fcd947;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, .75);
    box-shadow: 2px 2px #e8ab72, 6px 6px black;
    transition: all 100ms ease;
    line-height: 1.2em;
    font-family: 'Rubik', sans-serif;
}

.yellowButtons:active {
    background-color: #fcd947;
    transform: translateX(4px) translateY(4px);
    box-shadow: 0px 0px #e8ab72, 0px 0px black;
}

