.first-fold {
    background-color: $base-color !important;

    p {
        font-size: 24px;
    }
}

.bannerImage {
    width: 100%;
}

.squiggle-bottom::before {
    background-color: $fajka-blue;
}

.squiggle-bottom::after {
    background: url(../images/first-fold/squiggle-bottom-invert.svg) repeat bottom center;
    background-color: inherit;
    -webkit-mask: url(../images/first-fold/squiggle-bottom-mask.svg) repeat bottom center;
    mask: url(../images/first-fold/squiggle-bottom-mask.svg) repeat bottom center;
    content: ' ';
    position: absolute;
    width: 100%;
    left: 0;
    height: 32px;
}

.second-fold {
    background-color: $fajka-blue;
}

.services-text {
    color: $base-color;
}

.section2 {
    margin-top: 50px;

    p {
        color: $fajka-pink;
        font-size: 24px;
        margin-bottom: 30px;
    }
}

.our-service {
    padding-top: 30px;

    p {
        color: $fajka-pink;
        font-size: 24px;
        margin-bottom: 30px;

    }
}

.service-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 50px 0;
}

.service-box {
    background: #fff;
    border-radius: 20px;
    padding: 20px;

    p {
        font-size: 18px;
    }
}

.icon-box {
    padding: 20px;
    background-color: grey;

    width: max-content;
    border-radius: 20px;
    margin-left: 20px;
}

.icon-content {
    margin-left: 20px;

    h3 {
        color: grey;
        margin: 30px 0;
    }

    p {
        color: grey;
    }

    a {
        color: $fajka-blue;
    }
}

.decoration {
    border-bottom: 2.5px solid $base-color;
}

.service-box.active {
    box-shadow: 0 10px 0px #F5B1BC;
    margin: 10px;

    .icon-box {
        background-color: $fajka-blue;
    }

    .icon-content {

        h3 {
            color: $fajka-blue;
        }

        p {
            color: #ED8936;
        }
    }
}

//-----Third Fold-------//
.third-fold {
    background-color: #F5F5F3;
    color: $fajka-green;
}

.clients {
    margin-top: 80px !important;
    ;

    h1 {
        color: $fajka-green;
    }

    p {
        color: $fajka-green;
        font-size: 24px;
    }
}


.showcase-works {
    display: flex;
    justify-content: space-around;
}

.showcase {
    background-color: $fajka-green;
    padding: 20px;
    margin: 50px 0;
    cursor: pointer;

    img {
        object-fit: cover;
    }

    &:hover {

        img {
            transition: all 0.5s ease-in-out;
            transform: scale(1.05);
        }
    }
}

.showcase.one {
    -webkit-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);

}

.showcase.two {
    -webkit-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
}

.clients-two {
    text-align: center;
}

.client-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 10px;
    margin: 30px 0;

    img {
        width: 100%;
        border: 1px solid $fajka-green;

    }
}


.four {
    padding-top: 80px;
    background-color: $orange-light;

    img {
        width: 100%;
    }

    h1 {
        color: #000;
    }
}

.emoji-size {
    font-size: 24px;
}

.why-notTo {
    margin: 50px 0;
}

.why-starter {
    h4 {
        color: #000;
    }

    p {
        color: #000;
        text-align: start;
        font-size: 18px;
    }

    img {
        width: 60px;
        background-color: #fff;
        padding: 10px;
        border-radius: 20px 10px;
        margin-right: 10px;
    }
}

.testimonial-fold {
    padding-top: 80px;
    background-color: #EBFAFC;


    h2 {
        color: #000;
        text-align: center;
    }
}


.testimonial-slider {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
}

.testimonial-block {
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 15px 47px 0 rgb(129 173 181 / 26%);
    padding: 50px;
    margin: 0 60px;
    position: relative;

    h4 {
        color: #000;
    }

    p {
        color: #354b5b;
    }

}

.container-inner {
    display: flex;
}

.hr {
    width: 80px;
    height: 5px;
    background-color: #ff8300;
    margin: 20px 0;
    border-radius: 4px;
}

.hire-us {
    background-color: #312992;

}

.pd-top-80 {
    padding: 80px 30px;
}

.careers {
    background-color: #ff8300;
    height: 100%;

}

.hire-div,
.careers-div {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;

    img {
        margin: auto;
    }
}

.btn-hire {
    color: #312992;
    background-color: #fff;
    margin: auto;

    &:hover {
        color: #fff;
        background-color: #312992;
        margin: auto;
        border: 1px solid #fff;
    }
}

.btn-career {
    color: #ff8300;
    margin: auto;
    background-color: #fff;
    &:hover {
        color: #fff;
        border: 1px solid #fff;
        background-color: #ff8300;
    }
}


.join-us {
    color: #000;
    padding: 30px 0;

    h5 {
        color: #000;
        text-align: center;
        line-height: 1.5;
    }

    span {
        color: #ff8300;
    }
}
//////-----------Media Queries --------------///////
@media only screen and (max-width: 500px) {

    .testimonial-slider {
        display: flex;
        width: 100%;
        white-space: nowrap;
        overflow-x: scroll;
        margin-bottom: 20px;
    }

    .testimonial-block h4 {
        font-size: 16px !important;
        line-height: 1.5;
    }
    .container-inner {
        padding: 0;
    }


    .testimonial-block {
        padding: 20px;
        margin: 30px 0;
        margin-right: 30px;
        white-space: normal;
        width: 300px;

        h3 {
            font-size: 16px;
            line-height: 1.5;
        }

        p {
            margin-top: 20px;
            font-size: 14px;
            margin-bottom: 0;
        }

    }

    .service-container {
    display: flex;
    overflow-x: scroll;
    }

    .service-box {
        text-align: center;
        margin: 10px;
        min-width: 320px;
    }

    .icon-box {
        margin: auto;
    }

    .icon-content {
        margin: 0;
    }


    .service-box.active .icon-content h3 {
        color: #312992;
        margin: 10px 0;
        font-size: 18px;
    }

    /////----Why Starter Labs--------////

    .why-starter p {
        font-size: 16px;
        line-height: 1.5;
    }

    .client-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .clients p {
        font-size: 16px;
    }

    .our-service p {
        font-size: 16px;
    }

    .first-fold p {
        font-size: 16px;
    }

    .why-starter h4 {
        font-size: 18px;
    }

    .hire-div,
    .careers-div {
        width: 100%;
    }


    .hire-container {
        margin: 10px 0;

        img {
            display: none;
        }
    }
   
    
    .hire-container {
        width: 100% !important;
    }
}

.boring {
    margin-left: 5px;
}

.hire-container{
    width: max-content;
    color: #000;
    display: flex;
    box-shadow: 0 0 12px 0 #bababa;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    position: relative;
    transition: all 0.2s ease-in;
    h4,p {
        color: #000;
    }

    &:hover {
        transform: scale(1.1);
    }
}
.hire-logo {
    display: flex;
    align-items: center;
    img {
        width: 50px;
        margin-right: 30px;
    }
}